@import "tailwindcss";

.dropdown {
            position: relative;
            display: inline-block;
        }
        .dropbtn {
            color: white;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            min-width: 140px;
        }
        .dropdown-content {
            position: absolute;
            border-radius: 5px;
            min-width: 160px; 
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
            transition: display 0.3s ease; 
            
        }
        .dropdown-content div {
            padding: 10px;
            cursor: pointer;
        }

       
        
        .layout {
  display: flex;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8) inset !important;
  -webkit-text-fill-color: white !important;
}

/* Sidebar fixed under navbar */
.sidebar {
  position: fixed;
  top: 60px; /* height of navbar */
  left: -170px;
  width: 250px;
  height: calc(100vh - 60px);
  padding-left: 20px;
  padding-top: 20px;
  color: white;
  padding-right: 20px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.content {
  margin-left: 0;
  padding: 0;
  width: 100%;
} 


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a; /* Dark background */
}

::-webkit-scrollbar-thumb {
  background: #a5b4fc; /* Light Indigo */
  border-radius: 999px;
  border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #a5b4fc #0f172a;
}

@media (max-width: 768px) {
  .dropdown-content {
    min-width: 140px;
    
  }
  .dropbtn{
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .sidebar{
    left: -130px;
    padding-right: 8px;
    width: 170px;
     padding-left: 10px;
  }
}

