@import "tailwindcss";

.dropdown {
            position: relative;
            display: inline-block;
        }
        .dropbtn {
            background-color: #364153;
            color: white;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            min-width: 140px;
        }
        .dropdown-content {
            position: absolute;
            border-radius: 5px;
            background-color: #364153;
            min-width: 160px; 
            border: 1px solid gray;
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
            transition: display 0.3s ease; 
            
        }
        .dropdown-content div {
            padding: 10px;
            cursor: pointer;
        }
        .dropdown-content div:hover {
            background-color: #1e2939;
            transition: background-color 0.3s ease;
            cursor: pointer;
        }

       
        
        .layout {
  display: flex;
}

/* Sidebar fixed under navbar */
.sidebar {
  position: fixed;
  top: 60px; /* height of navbar */
  left: -170px;
  width: 250px;
  height: calc(100vh - 60px); /* footer + navbar safe */
  background: #222;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  transition: left 0.3s ease;
}

.sidebar.open {
  left: 0;
}

.content {
  margin-left: 0;
  padding: 0;
  width: 100%;
} 

@media (max-width: 768px) {
  .dropdown-content {
    min-width: 140px;
    
  }
  .dropbtn{
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .sidebar{
    left: -170px;
    padding-right: 8px;
    width: 200px;
  }
}